@charset "UTF-8";

$white: #eeeeee;
$white-pre: #f6f7f8;
$light-gray: #c0c4c8;
$gray: #616870;
$primary-color: #4169e1;
$secondary-color: #d82e2e;

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
#title,
.frontlink,
.btn,
.lead {
  font-family: 'Open Sans', sans-serif;
}

small {
  font-size: small;
}

.published-wrap {
  margin: 0 auto;
  background-color: white;
  max-width: 832px;
}

.published-wrap img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
}

.note {
  position: relative;
  padding: 40px 20px 0 20px;
  font-size: 18px;
  line-height: 1.6em;
  min-height: 440px;
}

.footerlist .footerlink a {
  text-decoration: none;
}

html {
  user-select: auto;
  font-size: 18px;
  line-height: 1.7;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
#title {
  clear: both;
  line-height: 1.15;
  margin: 1.7em 0 1em 0;
}

h1,
#title {
  font-size: 2.2em;
}

h1:first-of-type,
#title:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5,
h6 {
  font-size: 1em;
  text-transform: uppercase;
}

p.lead {
  font-size: 1.2em;
  color: $gray;
}

p,
ul,
ol,
blockquote,
pre,
table,
img {
  margin-bottom: 1.7em;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  color: $primary-color;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

a:hover {
  color: $secondary-color;
}

hr {
  border: 0;
  margin: 2em 0;
  color: $primary-color;
  height: 1em;
  transition: color .3s ease;
}


hr:hover {
  color: $secondary-color;
}

hr:before {
  content: '...';
  display: block;
  width: 100%;
  letter-spacing: 2em;
  text-indent: 2em;
  z-index: 1;
  line-height: .5;
  text-align: center;
}

blockquote {
  font-style: italic;
  border-left: 4px solid currentColor;
  margin-left: 0;
  padding-left: 1.7em;
}

code {
  font-size: 85%;
  background: $white-pre;
  border-radius: 3px;
  width: 100%;
  overflow-x: auto;
  display: inline;
}

p code {
  display: inline;
  padding: 4px;
  color: $gray;
}

pre {
  padding: 1em;
  border-radius: 3px;
  background: $white-pre;

  code {
    color: $gray;
    background: transparent;
    display: block;
    padding: 1em;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;

  tr:nth-child(2n) {
    background-color: $white;
  }

  th,
  td {
    border: 1px solid $light-gray;
    padding: 6px 13px;
  }

  th {
    font-weight: 600;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #title {
    margin: 1.19em 0 0.7em 0;
  }

  #title {
    margin-bottom: 0;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footerlist {
  display: block;
  list-style: none;
  clear: both;
  width: 100%;

  .footerlink {
    float: left;
    margin: 2vw;
  }

  .footerlink:first-child {
    margin-left: 5px;
  }

  .footerlink:last-child {
    margin-right: 5px;
  }
}

#homelink,
#themebutton {
  font-size: 18pt;
  text-decoration: none;
  padding: 5px;
  transition: font-size .3s ease;
}

#homelink:hover,
#themebutton:hover {
  font-size: 24pt;
}

@media only screen and (min-width: 576px) {
  .frontposts {
    columns: 2;
    column-gap: 40px;
  }
}

.frontwrapper {
  display: table;
  margin: 10px 0;
}

.frontlink a {
  text-decoration: none;
}

a.btn,
input[type="submit"],
.btn-outline {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
}

a.btn,
input[type="submit"] {
  background-color: $primary-color;
  color: #f6f7f8;
}

a.btn:hover,
input[type="submit"]:hover {
  background-color: $secondary-color;
  color: #f6f7f8;
}

a.btn-outline {
  background-color: transparent;
  border: 2px solid $primary-color;
}

a.btn-outline:hover {
  border-color: $secondary-color;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  transition: border-color .3s ease;
}

.card:hover {
  border-color: $secondary-color;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $primary-color;
}

.color-mute {
  color: $gray;
}

.highlight-primary {
  background-color: $primary-color;
  color: $white;
  padding: 1px;
  font-style: normal;
  text-decoration: none;
}

a.highlight-primary {
  border: 2px solid $white;
}

$black: #0a0a0a;

a.highlight-primary:hover {
  border: 2px solid $primary-color;
  background-color: $white;
  color: $black;
}

.highlight-secondary {
  background-color: $secondary-color;
  color: $white;
  padding: 1px;
  font-style: normal;
  text-decoration: none;
}

a.highlight-secondary:hover {
  background-color: $white;
}

.highlight-mute {
  background-color: $gray;
  padding: 1px;
  font-style: normal;
  color: $black;
  text-decoration: none;
}

a.highlight-mute:hover {
  background-color: $black;
  color: $white;
}

.highlight-2 {
  background-color: #c4ce97;
  padding: 1px;
  font-style: italic;
  color: $black;
  text-decoration: none;
}

.highlight-3 {
  background-color: #66e2d5;
  border-radius: 3px;
  border: 2px solid $black;
  font-weight: bold;
  color: $black;
  font-size: 0.9em;
  font-style: normal;
  text-decoration: none;
}

a.highlight-3:hover {
  background-color: $white;
  border-color: #66e2d5;
  color: $black;
}

a.button-1 {
  background-color: #66e2d5;
  color: $black;
  border: 2px solid $black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

a.button-2 {
  font-size: 1.25em;
  color: $white;
}

a.button-3 {
  border-radius: 50%;
  background-color: $secondary-color;
}

a.button-3:hover {
  background-color: $primary-color;
}

/* Dark theme */
html.dark {

  body,
  .published-wrap {
    background-color: $black;
  }

  $light-black: #1f1f1f;

  pre,
  input,
  textarea,
  code {
    background-color: $light-black;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .note *:not(a) {
    color: $white;
  }
}

.header {
  position: relative;
  min-height: 60vh;

  .header-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    p.lead {
      font-weight: bold;
      color: $black;
    }
  }

  .hor-line-1 {
    position: absolute;
    height: 100px;
    width: 200vw;
    right: -50vw;
    bottom: 65px;
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .hor-line-2 {
    position: absolute;
    height: 100px;
    width: 200vw;
    right: -50vw;
    bottom: 130px;
    background-color: rgba(0, 255, 0, 0.3);
    pointer-events: none;
  }

  .hor-line-3 {
    position: absolute;
    height: 100px;
    width: 200vw;
    right: -50vw;
    bottom: 97px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  .ver-line-1 {
    position: absolute;
    width: 100px;
    height: 1000px;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
}