@charset "UTF-8";

html {
  font-family: 'Open Sans', sans-serif;
}

.published-wrap {
  margin: 0 auto;
}

.published-wrap.no-ad-size {
  max-width: 832px;
}

.published-wrap img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
}

.note {
  position: relative;
  padding: 40px 20px;
  font-size: 18px;
  line-height: 1.6em;
  min-height: 440px;
}

#published_footer {
  position: static;
  margin-top: 16px;
  padding-bottom: 15px;
  text-align: center;
}

#published_footer .footer-copyright {
  width: 100%;
  margin: 0 auto 10px;
  text-align: center;
  float: none;
}

#published_footer li {
  float: none;
  display: inline-block;
}

#published_footer .first-footer-link {
  clear: both;
}

.note-detail-markdown {
  user-select: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  word-wrap: break-word;
}

.note-detail-markdown h1,
.note-detail-markdown h2,
.note-detail-markdown h3,
.note-detail-markdown h4,
.note-detail-markdown h5,
.note-detail-markdown h6,
.note-detail-markdown #title {
  clear: both;
  line-height: 1.15;
  font-family: 'Ubuntu', sans-serif;
  margin: 1.7em 0 1em 0;
}

.note-detail-markdown h1,
.note-detail-markdown #title {
  font-size: 2.2em;
}

.note-detail-markdown h1:first-of-type,
.note-detail-markdown #title:first-of-type {
  margin-top: 0;
}

.note-detail-markdown h2 {
  font-size: 1.8em;
}

.note-detail-markdown h3 {
  font-size: 1.4em;
}

.note-detail-markdown h4 {
  font-size: 1.2em;
}

.note-detail-markdown h5,
.note-detail-markdown h6 {
  font-size: 1em;
  text-transform: uppercase;
}

.note-detail-markdown p,
.note-detail-markdown ul,
.note-detail-markdown ol,
.note-detail-markdown blockquote,
.note-detail-markdown pre,
.note-detail-markdown table,
.note-detail-markdown img {
  margin-bottom: 1.7em;
}

.note-detail-markdown img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.note-detail-markdown a {
  color: #4895d9;
}

.note-detail-markdown a:hover {
  color: #2e89d8;
  text-decoration: none;
}

.note-detail-markdown hr {
  border: 0;
  margin: 3.4em 0;
  color: #4895d9;
  height: 1em;
}

.note-detail-markdown hr:before {
  content: '...';
  display: block;
  width: 100%;
  letter-spacing: 2em;
  text-indent: 2em;
  z-index: 1;
  line-height: .5;
  text-align: center;
}

.note-detail-markdown blockquote {
  font-style: italic;
  border-left: 4px solid currentColor;
  margin-left: 0;
  padding-left: 1.7em;
}

.note-detail-markdown code {
  font-size: 85%;
  background: #f1f2f3;
  border-radius: 3px;
  background: #f6f7f8;
  width: 100%;
  overflow-x: auto;
  display: inline;
}

.note-detail-markdown p code {
  display: inline;
  padding: 4px;
  color: #616870;
}

.note-detail-markdown pre {
  padding: 1em;
  border-radius: 3px;
  background: #f6f7f8;
}

.note-detail-markdown pre code {
  color: #616870;
  background: transparent;
  display: block;
  padding: 1em;
}

.note-detail-markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
}

.note-detail-markdown table tr:nth-child(2n) {
  background-color: #f6f7f8;
}

.note-detail-markdown table th,
.note-detail-markdown table td {
  border: 1px solid #c0c4c8;
  padding: 6px 13px;
}

.note-detail-markdown table th {
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  .note-detail-markdown {
    font-size: 16px;
  }

  .note-detail-markdown h1,
  .note-detail-markdown h2,
  .note-detail-markdown h3,
  .note-detail-markdown h4,
  .note-detail-markdown h5,
  .note-detail-markdown h6,
  .note-detail-markdown #title {
    margin: 1.19em 0 0.7em 0;
  }

  .note-detail-markdown #title {
    margin-bottom: 0;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footerlist {
  display: block;
  list-style: none;
  clear: both;
  width: 100%;
}

.footerlink {
  float: left;
  margin: 2vw;
}

.footerlink:first-child {
  margin-left: 5px;
}

.footerlink:last-child {
  margin-right: 5px;
}

.homelink {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 18pt;
  text-decoration: none;
  padding: 5px;
}


@media only screen and (min-width: 576px) {
  .frontposts {
    columns: 2;
    column-gap: 40px;
  }
}

.frontwrapper {
  display: table;
  margin: 10px 0;
}

a.btn {
  padding: 10px;
  background-color: #4895d9;
  color: #f6f7f8;
  text-decoration: none;
}

a.btn:hover {
  background-color: #2e89d8;
  color: #f6f7f8;
}

.card {
  border: 1px solid #616870;
  border-radius: 5px;
  padding: 10px;
}