<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<meta name="referrer" content="origin">
	<title>Pavel Nakonechnyy | {{title}}</title>
	{{#if description}}
	<meta name="description" content="{{description}}">
	{{/if}}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="/favicon.ico" />
	<link href="/static/published.css" media="all" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="published-wrap no-ad-size">
		<div class="wrapper">
			<div class="app">
				<div class="note note-detail-markdown">
					<h1>{{title}}</h1>

					{{#block "content"}}
					{{/block}}
					{{{footer.content}}}
				</div><!-- .note -->


			</div><!-- .app -->
		</div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140928369-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-140928369-1');
</script>

</html>