{{#extend "index"}}
{{#content "content"}}
<article>
  {{{page.content}}}
<hr>
<div class="row">
  <div class="col-12">
    {{#if page.customhomepage}}
    <a style="display: block; text-align: center;" href="{{page.customhomepage.link}}">{{page.customhomepage.text}}</a>
    {{else}}
    <a style="display: block; text-align: center;" href="/">На главную</a>
    {{/if}}
  </div>
</div>
</article>
{{/content}}
{{/extend}}