{{#extend "index"}}
{{#content "content"}}
<div id="featured">
    <div class="title">
        <h2>Posts</h2>
        <span class="byline">Articles I've written over past years.</span>
    </div>
    <ul class="style1">
        {{#if posts}}
        {{#each posts}}
        <li>
            <a href="/post/{{url}}">{{title}}</a>
        </li>
        {{/each}}
        {{else}}
        <p>No posts</p>
        {{/if}}
    </ul>
</div>
{{/content}}
{{/extend}}