{{#extend "index"}}
{{#content "content"}}
<article>
{{#if notes}}
    | {{#each notes}}
    <a href="/sidenotes/{{url}}">{{url}}&nbsp;-&nbsp;{{title}}</a> |
    {{/each}}
{{else}}
<p>Нет заметок</p>
{{/if}}
</article>
<hr>
<div class="row">
    <div class="col-12">
        <a style="display: block; text-align: center;" href="/">На главную</a>
    </div>
</div>
{{/content}}
{{/extend}}